&nbsp
<div class="container-fluid">
    <a class="navbar-brand" href=""><center><strong><b><font size="-1"><font color="071E22">Cameron</font></font></b></strong></center></a>
</div>



<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class= aria-hidden="true"></span>🏠 About Me
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="art">
                <span class= aria-hidden="true"></span>🎨 Art
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="code">
                <span class= aria-hidden="true"></span>💽 Code
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mods">
                <span class=aria-hidden ="true"></span>🕹️ Mods
            </NavLink>
        </div>
    </nav>


    
  
    <div class="nav-scrollable" >
        <nav class="flex-column">
            <div class="nav-item px-3">
                <a class="navbar-brand" href=""><center><strong><b><font size="-1"><font color="071E22">Links</font></font></b></strong></center></a>
           
                    <NavLink class="nav-link" href="https://www.youtube.com/channel/UCNar8ijP3_mYucDK9GEx8Jg">
                        <span class=aria-hidden ="true"></span>📼 Youtube

                    </NavLink>
               
            </div>
            
        </nav>
    </div>
    

    
        


    
</div>

