@page "/code"


<PageTitle>Code</PageTitle>

<h2><strong>Code 💽</strong></h2>
&nbsp

<body>
	<div>
		<p>I first began programming back in 2020 when I made a discord bot called marshal using the discord.js framework,
			I wrote it in visual studio code running under linux on my chromebook
		</p>
	</div>
</body>