@page "/mods"

<PageTitle>Mods</PageTitle>

<h2><strong>Mods 🕹️</strong></h2>
&nbsp
<body>
	<div>
		<p>
			I have made several minecraft mods on modrinth however my motivation to continue these mods grows less and less each day and it comes down to one singular thing.<br />
			I don't like java as a language.<br>
			My dislike of OOP aside I think java is a horrible language to work in for many reasons.<br />
			One of these reasons are the IDEs for Java, they all feel bloated with features which I'll never even use from Idea to Eclipse I dislike their ui and working in them feels horrible.<br />
			The second reason I dislike Java is because of it's overly complicated syntax "public static void main(string args)" is not a sane way to write anything and the fact it even got to that point is stupid.

		</p>
	</div>
</body>
	






